@font-face{
    font-family: Weibo;
    src : url(../font/wbficon.woff);
}
[class^=icon] {
    font-family: Weibo;
    font-size:25px;
    color:#fa7d3c;
    text-decoration: none;
}
.container {
    width:68.888%;
    margin:0 auto;
    position: relative;
}
.w73{
    width:73%;
}
/*note*/
.note{
    display: block;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    background: #fff8bf;
    color:#eb7350;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}
/*blog*/
article[data-blog] {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
}
article[data-blog] > section,article[data-blog] > header{
    padding:1% 4% 1% 4%;
}
.blog-header {
    padding-top:3%;
}
.headImg{
    display: inline-block;
    width:12%;
    height: 12%;
}
.headImg img{
    border-radius: 50%;
    width:80%;
    height: 80%;
}
.usrMsg{
    width:85%;
    display: inline-block;
    margin-top:-20px;
}
.usrMsg .username{
    display: block;
    height: 35px;
}
.username > a{
    display: inline-block;
    color:#000;
    cursor:pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.usrMsg .message{
    display: block;
    height: 20px;
    line-height: 20px;
}
.message > address{
    display: inline-block;
}
.blog-content{
    font-size: 15px;
    line-height: 1.5;
}
.blog-media img{
    width:200px;
    height: 200px;
}
.blog-nav {
    display: block;
    width:100%;
    border-top: 1px solid rgba(123,123,123,0.3);
    height: 40px;
    padding-top:5px;
}
.blog-nav li{
    display: inline-block;
    height: 30px;
    width:24%;
    text-align: center;
    box-sizing:border-box;
}
.blog-nav li > a{
    height:40px;
    line-height: 40px;
    display: block;
    color:#666;
    text-decoration: none;
    cursor:pointer;
}
.blog-nav li.line{
    border-right: 1px solid rgba(123,123,123,0.3);
}
/*blog-top-nav*/
.blog-top-nav{
    width:100%;
    height: 50px;
    border:0;
    padding:0;
    background: #fff;
    box-sizing:border-box;
    border-radius: 3px;
}
.blog-top-nav ul{
    width:60%;
}
.blog-top-nav li{
    display: inline-block;
    width:20%;
}
.blog-top-nav a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#000;
    text-decoration: none;
    position: relative;
}
.blog-top-nav a:hover{
    color:#fa7d3c;
}
/*triangle*/
.triangle:before {
    content :" ";
    display: block;
    border:11px solid transparent;
    border-bottom-color: rgba(70,149,194,0.7);
    position: absolute;
    top:56%;
    left:35%;
}
/*user-data*/
.user-data{
    display: block;
    height: 34px;
    box-sizing:border-box;
    padding-left:10%;
}
.user-data > li{
    display: inline-block;
    width:30%;
    height: 34px;
}
.user-data > li:nth-of-type(2) {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.user-data > li a, .user > ul > li span{
    display: block;
    text-align: center;
}
.user-data > li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color:#000;
}
.user-data > li a:hover{
    color:#f7671d;
}

.commentPlace{
    width:100%;
    background:#f2f2f5;
}
.commentPlace .comment-textarea {
    height: 80px;
    padding-top:10px;
    box-sizing:border-box;
}
.commentPlace .comment-textarea label{
    display: block;
    text-align: center;
}
.commentPlace .comment-textarea label input{
    height: 30px;
    line-height: 30px;
    width:80%;
}
.commentPlace .comment-textarea > a{
    display: block;
    width:55px;
    height: 30px;
    line-height: 30px;
    background: #ff8140;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    float: right;
    margin-top:3px;
    margin-right:60px;
}
.commentPlace .comment-data{
    width:100%;
    border-top:1px solid #ccc;
}
.commentPlace .comment-data li{
    width:80%;
    display: block;
    margin:0 auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
.commentPlace .comment-data .comment-user, .commentPlace .comment-data .comment-content{
    display: inline-block;
    font-size: 15px;
}
.commentPlace .comment-data .comment-user{
    width:10%;
    text-align: center;
}
/*attend*/
.attend{
    width:50px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color:#fff;
    background: #fa7d3c;
    border-radius: 3px;
    display: block;
    margin:0 auto;
}
.attend:hover{
    background: rgba(250,125,60,0.8);
}
.hidden{
    display: none;
}
.show{
    display: block;
}